@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* For Code Snippets */
code {
  font-family: 'Source Code Pro', monospace;
  color: greenyellow;
  padding: 2px;
  font-size: 100%;
}
.code_bg {
  background: rgb(5, 15, 37);
}
.codeScroll{
    border-radius: 25px;
    margin:2px, 2px;
    padding:2px;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    text-align:justify;
    /* Disabling scroll bar but keeping functionality */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.codeScroll::-webkit-scrollbar {
  display: none;
}

.borderCode{
  border: 2px solid greenyellow;
  border-radius: 25px;
  background: grey;
  color: black;
}
/*For Cursor*/
/*BUTTON TO MAIN PAGE*/
#btnScrollToTop1 {
  position: absolute;
  left: 2px;
  border-radius: 5%;
  background: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  color: black;
  outline: none;
  cursor: pointer;
  border: none;
}

#btnScrollToTop1:active {
  background: gray;
}
/* Background Shadow */
.thumbnail img{
  box-shadow : 0 0 10px rgb(0, 0, 0, 0.25);
}
/*-------------------------*/
/*HOVERING EFFECTS*/
.hover {
  text-decoration: none;
  color: red;
}

.hover:hover,
hover:active {
  color: aqua;
  text-decoration: underline;
  border: 0px solid black;
  border-bottom: greenyellow;
  border-radius: 2px;
}

/*---------------------------*/
/*SCROLL TO TOP*/
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  outline: none;
  cursor: pointer;
  border: none;
}

#btnScrollToTop:active {
  background: gray;
}

/*---------------*/
/*NAV BAR ANIMATION*/
.navigation ul {
  margin: 150px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}

.navigation li {
  display: table-cell;
  position: relative;
  padding: 10px 0;
}

.navigation a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navigation a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navigation a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 900px) {
  .navigation ul {
    margin-top: 40px;
  }

  .navigation a {
    padding: 5px 0px;
  }
}
/*AUDIO*/
.none {
  display: none;
}
/*------------------------------*/

/*CONTACT ME FORM*/
* {
  box-sizing: border-box;
}

input[type="text"],
select {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type="email"],
select {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  width: 100%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(224, 28, 28);
}
input[type="submit"]:active {
  background-color: #07eb12;
}

/*------------------------*/

.any {
  border-radius: 5px;
  padding: 20px;
  color: grey;
  font-size: 14px;
}

/*SEARCH BAR*/
form.example input[type="text1"] {
  padding: 10px;
  font-size: 17px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid grey;
  float: left;
  width: 80%;
  background: none;
}

form.example input[type="text1"]:focus {
  color: white;
}

form.example input:hover {
  border-bottom: 2px solid white;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: none;
  color: white;
  font-size: 17px;
  border-bottom: 0px solid grey;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 2px;
}

form.example button:hover {
  color: gray;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*-------------------------*/
/*SWITCH TO DARK MODE*/

body {
  display: block;
}
.mode {
  float: right;
  color: white;
}
.dark-mode {
  font-family: "Bebas Neue", cursive;
}
.change {
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.dark {
  background-color: black;
  color: #e6e6e6;
}
/*----------------------------*/
/*BUTTON FOR LEFT ARROW*/
#btnScrollToTop1 {
  position: absolute;
  left: 2px;
  border-radius: 5%;
  background: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  color: black;
  outline: none;
  cursor: pointer;
  border: none;
}

#btnScrollToTop1:active {
  background: gray;
}
/*-------------------------*/
/*SOCIAL MEDIA LINKS AND ICONS*/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.footer-social-links {
  font-size: 14px;
  text-align: center;
}

.footer-social-links a {
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  position: relative;
  margin: 0 100px;
  text-align: center;
  display: inline-block;
  color: red;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 2px;
  left: 1px;
}

.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.footer-social-links a:hover {
  color: white;
}

.footer-social-links a:hover:before {
  background: red;
}
/*-------------------------*/
::selection {
  color: white;
  background: red;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
  border: 6px gray;
}

.resplogo {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 8%;
  top: 6px;
}

.resplogo img {
  width: 109px;
  display: none;
  position: absolute;
  cursor: pointer;
  left: -16px;
  top: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 60px;
}

.nav-list {
  width: 70%;

  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 10px 20px;
}

.nav-list li a {
  color: white;
  border: 5px solid none;
  border-radius: 2px;
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.hrs {
  border-top: 1px dashed gray;
}

.main {
  align-items: center;
}

.hrs1 {
  border: 5px solid gray;
}

.rightnav {
  width: 30%;
  text-align: right;
}

#Search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 9px;
}

.background {
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url("../img/comp-unsplash.jpg");
  background-size: cover;
  background-blend-mode: darken;
  height: 60vh;
}

.background3 {
  width: 100%;
  background: black;
  background-blend-mode: darken;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  max-width: 80%;
  margin: auto;
  height: 60vh;
}

.firstHalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.new {
  border: 3px solid gray;
  border-radius: 8pxpx;
  width: 240px;
  height: 160px;
  display: none;
}

.text-big {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  text-align: left;
  line-height: 1.2;
}
.text-medium {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  line-height: 1.2;
  color: grey;
}

.text-small {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
  line-height: 1.2;
}
.cursor-copy {
  cursor: copy;
}
.btn5 {
  padding: 8px 20px;
  font-family: "Bebas Neue", cursive;
  border: 2px solid green;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.btn5:hover,
btn5:focus {
  color: white;
  background: gray;
  font-size: 16px;
  border: 2px solid greenyellow;
  border-top: none;
  border-bottom: none;
  border-bottom: 2px solid none;
}

.btn5:active {
  background: green;
}
/*---------------------------*/
.btn6 {
  padding: 8px 20px;
  font-family: "Bebas Neue", cursive;
  border: 2px solid red;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.btn6:hover,
btn6:focus {
  background: url("../img/python.jpg");
  background-size: cover;
  font-size: 0;
  height: 200px;
  width: 200px;
}

.btn6:active::after {
  transition: all 0.5s ease;
  background: red;
  content: "Redirecting..";
  font-size: 20px;
  color: white;
}
iframe {
  width: 855px;
  height: 498px;
}

@media screen and (max-width: 900px) {
  .btn6 {
    width: 100px;
    height: 40px;
  }
  .btn6:hover {
    background: grey;
    width: 100px;
    height: 40px;
  }
}
/*---------------------------*/
.btn7 {
  padding: 8px 20px;
  font-family: "Bebas Neue", cursive;
  border: 2px solid red;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.btn7:hover,
btn7:focus {
  background: url("../img/javascript.jpg");
  font-size: 0;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.btn7:active::before {
  transition: all 0.5s ease;
  background: red;
  content: "Redirecting..";
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 900px) {
  .btn7 {
    width: 100px;
    height: 40px;
  }
  .btn7:hover {
    background: grey;
    width: 100px;
    height: 40px;
  }
}
/*---------------------------*/
.btn {
  padding: 8px 20px;
  font-family: "Bebas Neue", cursive;
  border: 2px solid none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px none;
  font-size: 16px;
  background: none;
  color: red;
  cursor: pointer;
  border-bottom: 2px solid none;
}

.btn:hover,
btn:focus {
  border-bottom: 2px solid white;
}

.btn:active {
  background: grey;
}

.section {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  max-width: 90%;
  font-family: "Bebas Neue", cursive;
}

.left {
  flex-direction: row-reverse;
}

.buttons {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  font-family: "Bebas Neue", cursive;
  background: none;
}

.paras {
  padding: 0px 65px;
  font-family: "Bebas Neue", cursive;
}

.thumbnail img {
  box-shadow : 0 0 10px rgb(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 19px;
}
.thumbnail1 img {
  box-shadow : 0 0 10px rgb(0, 0, 0, 0.25);
  flex-direction: column;
  border-radius: 25px;
  margin-top: 19px;
  height: 400px;
  width: 300px;
}

.text-center {
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  padding: 30px;
  color: grey;
}

.form {
  max-width: 1200px;
  margin: 25px auto;
  height: fit-content;
  text-align: center;
}

.form input {
  margin: 10px 0;
  align-items: center;

  padding: 5px 13px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0, 100px;
  max-height: max-content;
}

.contact {
  font-size: 10px;
  font-family: "Bebas Neue", cursive;
}

.btn-dark {
  color: black;
  border: 2px solid black;
}
/*LINKS FOR PYTHON FILES*/
.secpy {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  max-width: 80%;
  color: black;
}
.pythonfiles img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 100px;
  font-size: 20px;
  border: 6px solid gray;
  border-radius: 50px;
  padding: 100px, 100px;
}
.pythonfiles img:hover {
  border: 6px solid greenyellow;
}
.pythonfiles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  padding: 17px 43px 34px 25px;
}

.PYFILES {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
}
.PYFILES:hover {
  color: red;
}
.PYFILES1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}
.box {
  padding: 0px 250px;
  margin: auto;
  background: #d3d3d3;
  background-clip: padding-box;
  border-radius: 20px;
}
.box:hover {
  background: #c0c0c0;
}

/*----------------------------------------------*/
/*BOOKS BACKGROUND BOX*/
.box-book {
  border: 5px solid red;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  padding: 30px;
  margin: auto;
  background: #d3d3d3;
  background-clip: padding-box;
  color: black;
  border-radius: 50px;
}
.box-book2 {
  border: 5px solid red;
  padding: 30px;
  margin: auto;
  background: #d3d3d3;
  background-clip: padding-box;
  color: black;
  border-radius: 50px;
}
/*----------------------------------*/
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  height: 20vh;
}

.middle {
  align-items: center;
  padding: 8px 20px;
  border: 5px solid greenyellow;
  border-radius: 118px;
  font-size: 10px;
  background: none;
  color: white;
}

.middle:active {
  background: red;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
  list-style: none;
}
.burger:active {
  transform: rotate(-90deg);
  transition: all 0.1s;
}
.line {
  width: 20px;
  background-color: white;
  height: 3px;
  margin: 3px 3px;
  border-radius: 1000px;
}
.line:active {
  background-color: red;
}
/*---------------------------------------*/
.center {
  display: none;
  position: absolute;
  top: 17px;
  left: 149px;
  color: white;
}

.btn2::after {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
  list-style: none;
}

.hr {
  display: none;
}

.submit:active {
  background: greenyellow;
}

.middle {
  display: none;
}

@media screen and (max-width: 900px) {
  .text-big {
    font-size: 30px;
  }
  .text-medium {
    font-size: 25px;
  }

  .text-small {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }

  .btn:hover,
  .btn:focus {
    font-size: 12px;
  }

  .background {
    height: 65vh;
  }
}
/*--------------------------------*/
.imgFluid {
  height: 250px;
  width: 300px;
}
.imgFluidAbt {
  height: 718px;
  width: 354px;
}
@media screen and (max-width: 1000px) {
  iframe {
    width: 500px;
    height: 400px;
  }
  .text-big {
    font-size: 30px;
  }
  .text-medium {
    font-size: 24px;
  }

  .text-small {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }

  .btn:hover,
  .btn:focus {
    font-size: 12px;
  }

  .background {
    height: 65vh;
  }
  .paras {
    padding: 0px 12px;
    font-family: "Bebas Neue", cursive;
  }
  .imgFluid {
    height: 250px;
    width: 300px;
  }
  .footer-social-links a {
    margin: 0 50px;
  }
}
@media screen and (max-width: 900px) {
  code{
    font-size: 80%;
  }
  .codeScroll{
    margin:4px, 4px;
    padding:10px;
    width: 110%;
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    text-align:justify;
}
  .text-big {
    font-size: 20px;
  }
  .text-medium {
    font-size: 16px;
  }

  .text-small {
    font-size: 15px;
  }

  .btn {
    font-size: 14px;
  }

  .btn:hover,
  .btn:focus {
    font-size: 13px;
  }

  .background {
    height: 65vh;
  }
  .nav-list li {
    list-style: none;
    padding: 3px 10px;
  }
  .paras {
    padding: 0px 12px;
    font-family: "Bebas Neue", cursive;
  }
  .imgFluid {
    height: 200px;
    width: 200px;
  }
  .imgFluidAbt {
    height: 600px;
    width: 300px;
  }
  .footer-social-links a {
    margin: 0 22px;
  }
}
@media screen and (max-width: 800px) {
  .thumbnail1{
    display: inline;
    flex-direction: column;
  }
  iframe {
    width: 500px;
    height: 400px;
  }
  .text-big {
    font-size: 20px;
  }
  .text-medium {
    font-size: 15px;
  }

  .text-small {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
  }

  .btn:hover,
  .btn:focus {
    font-size: 10px;
  }

  .background {
    height: 60vh;
  }
  .nav-list li {
    list-style: none;
    padding: 3px 10px;
  }
  .paras {
    padding: 0px 12px;
    font-family: "Bebas Neue", cursive;
  }
  .imgFluid {
    height: 200px;
    width: 200px;
  }
  .imgFluidAbt {
    height: 500px;
    width: 300px;
  }
  .footer-social-links a {
    margin: 0 22px;
  }
}
@media screen and (max-width: 700px) {
  .text-big {
    font-size: 20px;
  }
  .text-medium {
    font-size: 15px;
  }

  .text-small {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
  }

  .btn:hover,
  .btn:focus {
    font-size: 10px;
  }

  .background {
    height: 50vh;
  }
  .nav-list li {
    list-style: none;
    padding: 0px 6px;
  }
  .nav-list li a {
    font-size: 15px;
  }
  .dark-mode {
    font-size: 15px;
  }
  .paras {
    padding: 0px 10px;
    font-family: "Bebas Neue", cursive;
  }
  .imgFluid {
    height: 150px;
    width: 150px;
  }
  .imgFluidAbt {
    height: 218px;
    width: 150px;
  }
  .footer-social-links a {
    margin: 0 18px;
  }
}

@media only screen and (max-width: 620px) {
  iframe {
    width: 300px;
    height: 300px;
  }
  .box-book {
    padding: 30px;
    margin: auto;
    background: #d3d3d3;
    background-clip: padding-box;
    color: black;
    border-radius: 25px;
  }
  .background {
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url("../img/comp-unsplash-resp.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 50vh;
  }

  .background3 {
    width: 100%;
    background: black;
    background-size: cover;
    background-blend-mode: darken;
  }

  .middle {
    align-items: center;
    padding: 8px 20px;
    border: 5px solid #7c21f3;
    border-radius: 118px;
    font-size: 10px;
    background: none;
    color: white;
  }

  .ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .nav ul li {
    font-size: 15px;
    margin: 50px 0;
    line-height: 30px;
  }

  #check:checked ~ .ul {
    left: 0;
  }

  .link {
    flex-direction: column;
  }

  .nav-list {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    transition: all 0.5s ease;
  }

  .rightnav {
    text-align: center;
  }

  .paras {
    flex-direction: column;
    padding: 0px;
  }

  .middle {
    align-items: center;
    padding: 8px 20px;
    border: 5px solid #7c21f3;
    border-radius: 118px;
    font-size: 10px;
    background: none;
    color: white;
  }

  .section {
    flex-direction: column;
    padding: 18px;
  }

  .sectionleft {
    flex-direction: column;
    padding: 0px;
  }

  .copy {
    flex-direction: column;
  }

  .btn-sm img {
    align-items: center;
    width: 10%;
    height: 40px;
    border-radius: 50px;
  }

  .PYFILES {
    flex-direction: column;
  }

  .pythonfiles {
    flex-direction: column;
  }

  .pythonfiles img {
    flex-direction: column;
  }

  .pythonfiles img {
    flex-direction: column;
    width: 100px;
    border: 1px solid gray;
    border-radius: 50px;
    margin-top: 10px;
  }

  .thumbnail img {
    flex-direction: column;
    width: 300px;
    height: 200px;
    box-shadow : 0 0 10px rgb(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 10px;
  }

  .contact {
    flex-direction: column;
  }

  .form input {
    flex-direction: column;
  }

  .burger {
    display: block;
  }

  .resplogo {
    display: block;
  }

  .logo {
    display: none;
  }

  .h-navresp {
    height: 50px;
  }

  .v-classresp {
    opacity: 0;
    display: none;
  }

  .section {
    flex-direction: column-reverse;
  }

  .center {
    display: none;
  }

  .copy {
    align-items: center;
    font-size: 10px;
    font-style: bold italic;
    font-family: "Bebas Neue", cursive;
    height: 10vh;
  }

  .text-big {
    font-size: 18px;
  }
  .text-meidum {
    font-size: 16px;
  }

  .text-small {
    font-size: 14px;
  }

  .btn {
    padding: 8px 20px;
    border: 2px solid none;
    font-size: 6px;
  }

  .btn:hover,
  btn:focus {
    color: white;
    font-size: 8px;
  }

  .hr {
    display: block;
  }
  .thumbnail1 img {
    flex-direction: column;
    border-radius: 25px;
    margin-top: 19px;
    height: 350px;
    width: 300px;
    margin-left: 5px;
  }
  .new {
    display: none;
  }

  .box-main {
    flex-direction: column;
    height: 50vh;
  }
  .dark-mode {
    display: none;
  }
  .change {
    font-family: "Bebas Neue", cursive;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 0px;
    justify-content: center;
  }

  .resplogo img {
    display: block;
  }
  .PYFILES {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
  }
  .PYFILES1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    padding: 30px 60px;
    background-color: red;
    max-width: 30%;
    align-items: center;
    justify-content: center;
  }
  .box {
    padding: 0px 20px;
  }
  .disco {
    font-size: 4em;
    width: 350px;
    height: 250px;
  }
  .footer-social-links a {
    margin: 0 12px;
  }
  .imgFluid {
    height: 100px;
    width: 150px;
  }
  .nav-list li {
    list-style: none;
    padding: 10px 16px;
  }
  .nav-list li a {
    font-size: 20px;
  }
}
/*--------------------------------*/
@media screen and (max-width: 300px) {
  body {
    content: "Sorry Screen Size Not Supported !!!";
  }
}
